.profile {
  width: 300px;
  background-color: white;
  padding: 25px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px 2px rgba(46, 47, 66, 0.16),
    0px 3px 6px 5px rgba(46, 47, 66, 0.08);
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 50px 0px;
}

.avatar {
  display: block;
  width: 150px;
  border-radius: 50%;
}

.name {
  margin: 0;
  padding-top: 30px;
  font-size: 28px;
  font-weight: 600;
}

.tag {
  composes: name;
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #768696;
}

.location {
  composes: tag;
}

.stats {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  padding: 0;
  padding-top: 50px;
  justify-content: space-between;
  margin: 0;
}

.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #768696;
}

.quantity {
  composes: label;
  color: black;
  font-size: 18px;
  font-weight: 700;
}
